cxf-soap-demo-client/src/main/resources/wsdl/SoapService1.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soapservice.cfxsoap.demo.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SoapServiceService" targetNamespace="http://soapservice.cfxsoap.demo.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soapservice.cfxsoap.demo.com/" elementFormDefault="unqualified" targetNamespace="http://soapservice.cfxsoap.demo.com/" version="1.0">

  <xs:element name="charge" type="tns:charge"/>

  <xs:element name="getAllCharges" type="tns:getAllCharges"/>

  <xs:element name="getAllChargesResponse" type="tns:getAllChargesResponse"/>

  <xs:element name="sayHello" type="tns:sayHello"/>

  <xs:element name="sayHelloResponse" type="tns:sayHelloResponse"/>

  <xs:complexType name="sayHello">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHelloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAllCharges">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAllChargesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:charge"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="charge">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:float"/>
      <xs:element minOccurs="0" name="descripcion" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="sayHelloResponse">
    <wsdl:part element="tns:sayHelloResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllChargesResponse">
    <wsdl:part element="tns:getAllChargesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllCharges">
    <wsdl:part element="tns:getAllCharges" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHello">
    <wsdl:part element="tns:sayHello" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SoapService">
    <wsdl:operation name="sayHello">
      <wsdl:input message="tns:sayHello" name="sayHello">
    </wsdl:input>
      <wsdl:output message="tns:sayHelloResponse" name="sayHelloResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCharges">
      <wsdl:input message="tns:getAllCharges" name="getAllCharges">
    </wsdl:input>
      <wsdl:output message="tns:getAllChargesResponse" name="getAllChargesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoapServiceServiceSoapBinding" type="tns:SoapService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sayHello">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sayHello">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sayHelloResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCharges">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllCharges">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllChargesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoapServiceService">
    <wsdl:port binding="tns:SoapServiceServiceSoapBinding" name="SoapServicePort">
      <soap:address location="http://localhost:8090/soap-api/SoapService1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>